@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(250, 128, 114, 0.815);
  color: #fff;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
}

.form-container h1 {
  font-size: 2rem;
  margin: 20px 0 30px 0;
  text-align: center;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 1.8rem;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: violet;
}

.form-control label {
  font-size: 1.6rem;
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 1.8rem;
  min-width: 5px;
  transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span,
.form-control input:not(:placeholder-shown) + label span {
  color: violet;
  transform: translateY(-30px);
}

.btn {
  background-color: violet;
  width: 100%;
  padding: 15px;
  margin-bottom: 2rem;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  font-family: inherit;
  font-size: 1.6rem;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
  font-size: 1.5rem;
}

.text a {
  color: violet;
  text-decoration: none;
}
